pydantic
datasets
tqdm
loguru
transformers
sentence-transformers
zstd
openai
numpy>=1.20
nltk
rank-bm25
torch
pyyaml-include
elasticsearch
parse
types-pyyaml
clickhouse-connect
rake-nltk
faiss-cpu
huggingface-hub
langchain
sqlalchemy<2.0
clickhouse-sqlalchemy
langchain-community